.terminal-window {
  margin-top: 5%;
  width: 800px;
  height: 600px;
  background-color: #1e1e1e;
  border: 2px solid #b3b3b3;
  border-radius: 10px;
  overflow: hidden;
}

.title-bar {
  height: 30px;
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  font-family: "Inconsolata", monospace;
}

.title-bar-btns {
  display: flex;
}

.title-bar-btn-close {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #FF5F57;
}

.title-bar-btn-minimize {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #FFBD2E;
}

.title-bar-btn-maximize {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #27C93F;
}

.title {
  margin-left: auto;
}

.content {
  height: calc(100% - 30px);
}

.terminal {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.terminal-header {
  height: 30px;
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.terminal-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.terminal-body {
  padding: 10px;
  color: #fff;
  font-family: "Inconsolata", monospace;
}

.terminal-body p:last-child {
  margin-bottom: 0;
}

.terminal-btn-red {
  color:red;
}

.typing-animation {
  overflow: hidden;
  margin: 0; /* Ensures no extra space around the text */
  animation: typing1 3s steps(30, end);
  /* white-space: nowrap; */
  width: 780px;
}
@keyframes typing1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
